{% extends 'base.html' %}

{% block container %}

{% load static %}


    <div class="row" id="conteudo2">
        <div class="col-0 col-sm-0 col-md-2 col-lg-2 " id="conteudo2-coluna1"></div>
        <div class="col-12 col-sm-12 col-md-8 shadow-lg p-3 mb-5 bg-white rounded" id="conteudo2-coluna2">
          <div class="row" id="conteudo2-linha1">
              <div class="col-sm-12 col-lg-12">
                <h1>Confeitaria "nomee"</h1>
                <br>
              </div>
              <div class="col-sm-12 col-lg-6 shadow" id="itens-conteudo2">
                <h2>O que nos fazemos</h2>
                <hr>
                <p>
                    nos fazemos bolos e tortas para sua festa de aniversario, comemoração <br>
                  </p>
              </div>
              <div class="col-sm-12 col-lg-6 shadow" id="itens-conteudo2">
                  <h2>Motivação</h2>
                  <hr>
                  <p>
                    o que nos motiva a fazer as melhores tortas e bolos que o sul de porto alegre pode oferecer é justamente o amor pela confeitaria.<br>
                  </p>
              </div>
              <div class="col-sm-12 col-lg-6 shadow" id="itens-conteudo2">
                  <h2>Motivação</h2>
                  <hr>
                  <p>
                    o que nos motiva a fazer as melhores tortas e bolos que o sul de porto alegre pode oferecer é justamente o amor pela confeitaria.<br>
                  </p>
              </div>
              <div class="col-sm-12 col-lg-6 shadow" id="itens-conteudo2">
                  <h2>Motivação</h2>
                  <hr>
                  <p>
                    o que nos motiva a fazer as melhores tortas e bolos que o sul de porto alegre pode oferecer é justamente o amor pela confeitaria.<br>
                  </p>
              </div>
          </div>
        </div>
        <div class="col-0 col-sm-0 col-md-1 col-lg-3 " id="conteudo2-coluna1"></div>
    </div>
    <div class="row">
      <div class="col-4">
        coisa1
      </div>
      <div class="col-4">
        coisa2
      </div>
      <div class="col-4">
        coisa3
      </div>

    </div>
{% endblock %}