{% extends 'base.html' %}

{% block container %}

{% load static %}

    <div class="row" id="conteudo2">
        <div class="col-0 col-sm-0 col-md-2 col-lg-2 " id="conteudo2-coluna1"></div>
        <div class="col-12 col-sm-12 col-md-8 shadow-lg p-3 mb-5 bg-white rounded" id="conteudo2-coluna2">
            <div class="row" id="conteudo2-linha1">
                {% for produto in produtos %}
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="{{ produto.imagem.url }}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{produto.nome}}</h5>
                        <p class="card-text">Descricao: {{produto.descricao}}</p>
                        <p class="card-text">Preco: {{produto.preco}}</p>
                        <a href="{% url 'ver_produto' produto.id "class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}