{% extends 'base.html' %}

{% block container %}

{% load static %}
<article>
    <div class="row" id="conteudo2">
        <div class="col-0 col-sm-0 col-md-2 col-lg-2 " id="conteudo2-coluna1">

        </div>

            <div class="col-12 col-sm-12 col-md-8 shadow-lg p-3 mb-5 bg-white rounded" id="conteudo2-coluna2">
                <div class="row">

                    {% for doce in doces %}
                        <div class="col-12 col-md-3">
                            <div class="card" style="width: 15rem;height: 28rem;">
                                <img src="{{doce.imagem.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{doce.nome}}</h5>
                                    <p class="card-text">descricao: {{doce.descricao}}</p>
                                    <p class="card-text">preco: {{doce.preco}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>

</article>

{% endblock %}